body, html {
    height: 100%;
    margin: 0;
}

main {
    /* TODO 1: convert this container into a flex container*/
    /* TODO 2: align the items on the cross-axis (vertical) to begin at the start*/
    /* TODO 3: center the content horizontally across the main axis*/
    /* TODO 4: check out the result in the browser*/

    background-image: url("assets/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.hero {
    /* TODO 5: convert this element into a flex container */
    /* TODO 6: change the flex direction to column */
    /* TODO 7: use align-items to center the flex children */
    /* TODO 8: check out the result in the browser*/

    margin-top: 50px;
}

.hero h1 {
    color: #FFFFFF;
    font-size: 120px;
    font-family: "Marvel", sans-serif;
    margin-top: 0;
}

.hero-image-container {
    display: flex;
    align-items: center;
}

.hero-image-container img {
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #1C8188;
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
    width: 400px;
}

.change-hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: 80px;
    border-radius: 50%;
    color: #FFFFFF;
    border: 2px solid #D9D9D9;
    background: #1C8188;
    opacity: 80%;
    outline: none;
    cursor: pointer;
}

/* TODO 9: use the ":hover" css pseudo-selector to change the styles when
   a button  with ".change-hero-btn" class is hovered by the user

   - adjust the styles in a way that the button uses a white background and #1C8188 as color*/
/* TODO 10: check out the result in the browser*/
/* TODO 11: go back to the README.md and continue with the JavaScript section */
