body, html {
    height: 100%;
    margin: 0;
}

main {
    /* TODO 1: convert this container into a flex container*/
    /* TODO 2: align the items on the cross-axis (vertical) to begin at the start*/
    /* TODO 3: center the content horizontally across the main axis*/
    /* TODO 4: check out the result in the browser*/

    background-image: url("assets/background.webp");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.hero {
    /* TODO 5: convert this element into a flex container */
    /* TODO 6: change the flex direction to column */
    /* TODO 7: use align-items to center the flex children */
    /* TODO 8: check out the result in the browser*/

    padding-top: 50px;
}

.hero h1 {
    color: #FFFFFF;
    font-size: 120px;
    font-family: "Staatliches", cursive;
    margin-top: 0;
}

.hero-image-container {
    display: flex;
    align-items: center;
}

.hero-image-container img {
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    object-fit: cover;

    margin-left: 50px;
    margin-right: 50px;

    box-shadow: 2px 12px 38px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 12px 38px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 12px 38px -2px rgba(0,0,0,0.75);

    height: 200px;
    width: 200px;
}

.change-hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 50px;
    width: 50px;
    font-size: 40px;
    border-radius: 50%;

    color: #FFFFFF;
    border: 1px solid transparent;
    background: #0b656b;
    outline: none;
}

/* TODO 9: use the ":hover" css pseudo-selector to change the styles when
   a button  with ".change-hero-btn" class is hovered by the user. Let's
   change the background color to white and the color
   to #0b656b.

   - adjust the styles in a way that the button uses a white background and #0b656b as color*/
/* TODO 10: check out the result in the browser and hover over a button */
/* TODO 11: Open up the browser and change the size of the browser window
    to explore the responsive behaviour of the page*/
/* TODO 12: We have chosen a mobile first approach,
    therefore the image and the button look great on mobile,
     but not so great on Desktop or on Table. Let's change that with the help
     of some media queries. Let's make the following changes.

     DEVICES bigger than 768px (Medium devices for example Tablets)
     - .hero-image-container img  -> width and height 300px

     DEVICES bigger than 992px (Large devices for example Desktop)
     - .hero-image-container img  -> width and height 400px
     - .change-hero-btn  -> width and height 100px
     */
/* TODO 13: Open up the browser and change the size of the browser window.
    Note how the image and the button changes based on the window size */
/* TODO 14: go back to the README.md and continue with the JavaScript section */
