body, html {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    align-items: start;
    justify-content: center;

    background-image: url("assets/background.webp");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
}

.hero h1 {
    color: #FFFFFF;
    font-size: 120px;
    font-family: "Staatliches", cursive;
    margin-top: 0;
}

.hero-image-container {
    display: flex;
    align-items: center;
}

.hero-image-container img {
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    object-fit: cover;

    margin-left: 50px;
    margin-right: 50px;

    box-shadow: 2px 12px 38px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 12px 38px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 12px 38px -2px rgba(0,0,0,0.75);

    height: 200px;
    width: 200px;
}

.change-hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 50px;
    width: 50px;
    font-size: 40px;
    border-radius: 50%;

    color: #FFFFFF;
    border: 1px solid transparent;
    background: #0b656b;
    outline: none;
}

.change-hero-btn:hover {
    background: #FFFFFF;
    color: #0b656b;
}

@media (min-width: 768px) {
    .hero-image-container img {
        height: 300px;
        width: 300px;
    }
}

@media (min-width: 992px) {
    .hero-image-container img {
        height: 400px;
        width: 400px;
    }

    .change-hero-btn {
        height: 100px;
        width: 100px;
    }
}
